@import "tailwindcss";

@theme {
  /* Signature Amazon Header & Deep Navy accents */
  --color-amazon-navy: #131921;
  --color-amazon-lightNavy: #232f3e;
  
  /* Primary Actions & Buttons */
  --color-amazon-orange: #ff9900;
  --color-amazon-orangeHover: #e68a00;
  --color-amazon-yellow: #febd69;
  
  /* Layout Backgrounds & Surfaces */
  --color-amazon-bg: #eaeded;
  --color-amazon-surface: #ffffff;
  --color-amazon-border: #d5dbdb;
  
  /* Text Hierarchy */
  --color-amazon-textDark: #0f1111;
  --color-amazon-textLight: #565959;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-amazon-surface) inset !important;
  -webkit-text-fill-color: var(--color-amazon-textDark) !important;
}